################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/bin/Debug/doc2.pdf
/Project/bin/Debug/doc2.doc
/Project/bin/Debug/doc1.pdf
/Project/bin/Debug/doc1.doc
